
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Home/Layout/_Layout.cshtml";
}
@{
    var data = ViewBag.Message;
}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="text-center">Confirm VPP Payment</h1>
            <div>
                Order No. @data.Id has been successfully created. Please make payment at the time of delivery. Our customer service officers will contact you soon!
            </div>
            
            <div class="text-center">
                <img src="https://therightwording.com/wp-content/uploads/2019/02/thank-you-515514_1280-1024x936.jpg" alt="Thank you" style="width: 80%" />
            </div>
            <h4>Thank you for being our valued customer. We are so grateful for the pleasure of serving you and hope we met your expectations.</h4>
        </div>
        <div class="col-md-3"></div>
    </div>

